* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */


  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply; */

 /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */

 /* background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */

 background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
 font-family: 'Archivo', sans-serif !important;
}

.logo {
  border-radius: 50%;
  height: 80px;
  width: 90px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem !important;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.plato {
  font-style: italic;
  font-size: 1rem;
}

button {
  font-size: 1.3rem !important;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
 font-size: 0.8rem;
 margin-top: 4rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.timer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-time {
  font-size: 3rem;
}

.buttons-container {
  margin-top: 2rem;
}

.pause-btn {
margin-right: 2.5rem;
}

.time-select-container {
  display: flex;
  margin-top: 1.5em;
}

.time-btn {
  margin-right: 2rem;
  
}

.sound-icons {
  margin-top: 2.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: rgb(114, 162, 114);
}

/* .sound-icons-play {
  margin-top: 2.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: rgb(59, 95, 59);
  color: rgb(159, 189, 166);
} */

.audio-buttons-container {
  display: flex;
  justify-content: center;
}

.sound-names {
  display: inline-block;
  margin-left: 0.3rem;
}

.sound-items {
  display: inline;  
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 15px;
  background: #ccc;
  border-radius: 16px;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid rgb(84, 153, 63);
  box-shadow: -407px 0 0 400px rgb(84, 153, 63);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgb(84, 153, 63);
  box-shadow: -407px 0 0 400px rgb(84, 153, 63);
}